
# Data files of development installation.
# code/data
code/data/config/errors.log

# Third party libraries.
code/system/thirdparty/*
!code/system/thirdparty/.gitkeep

# Private files.
code/tests.php
TODO.txt
