# Config files of development installation.
code/data/config/*
!code/data/config/.gitkeep

# Third party libraries.
code/system/thirdparty/*
!code/system/thirdparty/.gitkeep

# Third party assets.
code/system/assets/thirdparty/*
!code/system/assets/thirdparty/.gitkeep

# Private files.
code/tests.php
others/TODO.txt
