/* Fonts. */

@font-face {
	font-family: 'icomoon_wt';
	src: url('AdminIcons.ttf');
}


/* General styles. */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
	cursor: default;
	padding: 1px 2em;

	color: #000;
	background: #E1E1E1;
	font: 16px /1.5 "Lato", "Segoe UI", "Tahoma", sans-serif;
}

a:link, a:visited {
	color: #0077E1;

	text-decoration: none;
	outline: none;
}
a:hover {
	color: #459BFF;
	text-decoration: underline;
}
a:hover:active {
	opacity: 0.4;
}
a:active, a:focus {
	color: #D25C07;
}
a:focus:not(:hover):not(:active) {
	outline: 1px dashed rgba(0,0,0, 0.5);
	outline-offset: 2px;
}

*[tabindex="-1"] {
	outline: none;
}

.columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.columns > * {
	display: table-cell;
	vertical-align: top;
}

.centered {
	display: table;
	width: 100%;
	height: 100%;
}
.centered > * {
	display: table-cell;
	vertical-align: middle;
}
.centered > * > * {
	margin-left: auto;
	margin-right: auto;
}

.screenReaders {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}


/* Form elements. */

input, button, textarea, select {
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}
input[disabled], button[disabled], textarea[disabled], select[disabled] {
	opacity: 0.7;
}
input[disabled]:hover, button[disabled]:hover, textarea[disabled]:hover, select[disabled]:hover {
	cursor: not-allowed;
}

input, textarea, select {
	width: 100%;
	height: 2em;
	padding: 0.2em 0.6em;

	border: 1px solid #BDBDBD;
	box-shadow: inset 2px 2px 2px rgba(0,0,0, 0.04);
	background: #FFF;
}
input:focus, textarea:focus, select:focus {
	border-color: #50BCFF;
	outline: 1px solid #50BCFF;
}
input[disabled], textarea[disabled], select[disabled] {
	background: #E9E9E9;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	border: none;

	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	opacity: 0;
}

input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	font-family: 'icomoon_wt' !important;
	font-size: 1.1rem;
	margin-right: 0.5em;
	line-height: 0;
	vertical-align: -0.1em;
	color: #426FA3;
}
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
	outline: 2px solid #50BCFF;
	outline-offset: 1px;
	color: #008AE0;
}
input[type="checkbox"]:active + label:before, input[type="radio"]:active + label:before {
	opacity: 0.5;
}

input[type="checkbox"] + label:before {
	content: "\ea53";
}
input[type="checkbox"]:checked + label:before {
	content: "\ea52";
}
input[type="radio"] + label:before {
	content: "\ea56";
}
input[type="radio"]:checked + label:before {
	content: "\ea55";
}

textarea {
	min-height: 5em;
	resize: vertical;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='8.933' width='1.5em' viewBox='0 0 12.21093 11.187008'%3E%3Cpath d='M0-1.06h12.211l-6.11 12.25L0-1.06z' fill='%23BDBDBD'/%3E%3C/svg%3E") right 0.64em no-repeat;
}
select::-ms-expand {
    display: none;
}
@supports (-moz-user-select: none) {
	select {
		color: rgba(0,0,0,0);   /* Removes dotted border inside select in Firefox. */
		text-shadow: -3px 0 0 #000;
	}
}

button {
	display: block;
	border: 0;

	margin: 1.7em auto 0.6em;
	padding: 0 1em;
	min-height: 2.15em;
	width: 100%;
	max-width: 300px;

	background: #009AF9;
	color: #FFF;
	font-weight: bold;
}
button:hover, button:focus {
	background: #0072B3;
}
button:focus {
	outline: 2px solid #73A5C3;
}
button:active {
	opacity: 0.7;
	transform: scale(0.95);  /*@buttonPressedUpTransition*/
	transition: transform 0.1s ease-in;
}
button[disabled] {
	background: #D40000;
}
@supports (-moz-user-select: none) {
	button::-moz-focus-inner {
		border: 0;
	}
}


/* Admin panel common styles. */

header#header h1 {
	line-height: 0;
	overflow: hidden;
	height: 60px;
	margin: 0;
	text-indent: -9999px;

	background: #232323 url('WTLogo.svg') no-repeat;   /*@sidebarBackground*/
}

div.adminPanel, div.adminPanelAlternative {
	margin: 2em auto;

	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	background: #FFF;   /*@mainBlockBackground*/
}

a.mobileMenuOpen, a.mobileMenuClose {
	display: none;
}


/* Main container — standard layout. */

div.adminPanel {
	max-width: 1000px;
}
div.adminPanel > div.columns {
	height: 600px;
}

div.adminPanel a.a11yJumpLink {
	position: absolute;
	margin: 0.8em 0 0 230px;  /*@sidebarWidth*/
	display: inline-block;
	overflow: hidden;

	height: 0;
	width: 0;
	opacity: 0;

	transition: opacity 0.1s ease-in;
}
div.adminPanel a.a11yJumpLink:focus {
	height: auto;
	width: auto;
	opacity: 1;

	border: 2px solid #449BFF;
	background: #0078D3;
	padding: 0.2em 1em;
	box-shadow: 0 0 2px rgba(0,0,0, 0.4);
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;

	outline: none !important;
}

div.adminPanel header#header h1 {
	background-position: 16px 22px;
	width: 210px;  /*@sidebarWidth*/
}
div.adminPanel header#header ul {
	text-align: right;
	vertical-align: middle;
	padding: 0 1.5em;    /*@mainBlockPadding*/
	background: #F7F7F7;  /*@topHeaderBackground*/
	border-bottom: 1px solid #E7E7E7;  /*@topHeaderBottomBorder*/

	list-style: none;
	margin: 0;
}
div.adminPanel header#header li {
	display: inline-block;
	margin-left: 1.4em;
}
div.adminPanel header#header li a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);  /*@systemAnchorHover*/
}
div.adminPanel header#header li:first-of-type a {  /* User account anchor. */
	color: inherit;
	font-weight: bold;
}

nav#navigation {
	width: 210px;   /*@sidebarWidth*/

	background: #232323;   /*@sidebarBackground*/
	color: #CCCCCC;
}
nav#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0.6em 0;
}

nav#navigation li a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	outline: none !important;

	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em 1.2em;

	background: #1A1A1A;
}
nav#navigation li a:hover, nav#navigation li a:focus {
	background: #000000;
	color: #008DEB;
}
nav#navigation li a:active {
	opacity: 0.7;
	transform: scale(0.91);  /*@buttonPressedUpTransition*/
	transition: transform 0.05s ease-out;
}

nav#navigation li.iconAdd a {
	float: right;
	position: relative;
	top: -3em;
	z-index: 2;

	margin: 0 0 -3em;
	width: 1em;
	white-space: nowrap;
	overflow-x: hidden;

	border-left: 1px solid #272727;
}
nav#navigation li.iconAdd a:before {
	padding-right: 30px;
}


/* Main container — alternative layout (used in login form). */

div.adminPanelAlternative {
	max-width: 500px;
}

div.adminPanelAlternative header#header h1 {
	background-position: center 26px;
	padding-bottom: 0.5em;
}

div.adminPanelAlternative main header {
	margin-top: 1.5em;
}


/* Main block. */

main {
	padding: 0 1.5em 1.5em;   /*@mainBlockPadding*/
}
main > header {
	border-bottom: 1px solid #E7E7E7;  /*@topHeaderBottomBorder*/
	margin: 1.2em 0 1em 0;

	table-layout: auto !important;   /* Override style from .columns class. */
}
main > header > * {
	vertical-align: bottom !important;
}
main > header h2 {
	font-size: 2.05em;
	line-height: 1.1;
	margin: 0;
	padding-bottom: 0.2em;
}

main > header ul {
	list-style: none;
	padding: 0;
	margin: 0;

	width: 1px;   /* Use minimal size. */
	white-space: nowrap;
}
main > header ul li {
	display: inline-block;
}
main > header ul a {
	display: inline-block;
	margin: 0 0 -1px 0.3em;

	background: #F7F7F7;  /*@topHeaderBackground*/
	border: 1px solid #E7E7E7;  /*@topHeaderBottomBorder*/
	border-bottom: 2px solid #007BC2;
	padding: 0.15em 0.8em;

	outline-offset: 0 !important;
}
main > header ul a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);  /*@systemAnchorHover*/
}

main h3 {
	font-size: 1.5em;
	margin: 0.55em 0 0.25em;

	color: #0068A4;
	font-weight: normal;
}


/* Messages — on the top of page. */

@keyframes messageFading {
	to {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 0;
		border-width: 0;
		margin-bottom: 0;
	}
}

div.message {
	margin: 0 -1.5em -0.9em; /*@mainBlockPadding*/

	text-align: center;
	font-weight: bold;
	padding: 0.4em 1.5em;
	background: #EFEFEF;
	color: #000;
	border-bottom: 1px solid #DFDFDF;

	box-sizing: border-box;
	overflow: hidden;

	animation: messageFading 0.35s ease-in-out;
	animation-delay: -1ms;
	animation-direction: reverse;
	animation-fill-mode: none;
}
div.message.success {
	background: #FFFDB9;
	color: #734000;
	border-color: #FFED00;

	animation: messageFading 0.35s ease-in-out, messageFading 0.65s ease-in-out;
	animation-delay: -1ms, 10s;
	animation-direction: reverse, normal;
	animation-fill-mode: none, forwards;
}
div.message.error {
	background: #C70000;
	color: #FFFFFF;
	border-color: #B80000;
}


/* Message pages. */

p.messagePage {
	font-size: 1.7em;
	padding: 0 1.5em;
	text-align: center;
	font-weight: bold;
}

p.messagePage > *:before {
	font-family: 'icomoon_wt' !important;

	font-size: 7em;
	display: block;
	font-weight: normal;
}


/* Tips: warnings and explanations. */

p.warning, p.information {
	padding: 0.7em 1.3em 0.7em 3.8rem;
	min-height: 3em;
}
p.warning:before, p.information:before {
	position: absolute;
	margin-left: -2.8rem;
	font-size: 2em;
	font-family: 'icomoon_wt' !important;
}

p.warning {
	background: #FFF0ad;
	color: #892a00;
}
p.warning:before {
	content: "\ea07";
}

p.information {
	background: #e8fae2;
	color: #005a39;
}
p.information:before {
	content: "\ea0c";
}


/* Forms fieldsets. */

fieldset {
	border: 0;
	padding: 0;

	margin: -0.3em 0;
}

fieldset > div {
	display: table;
	table-layout: fixed;
	width: 100%;

	margin: 0.5em 0;
}
fieldset > div > label:first-child, fieldset > div > span:last-child {
	display: table-cell;
	vertical-align: middle;
}

form label:first-child:after {
	content: ":";
}
form label:last-child {
	display: block;
}


/* Elements list — common styles. */

ul.elementsList, ul.elementsList ul {
	list-style: none;
	padding-left: 0;
}
ul.elementsList li, ul.elementsList ul li {
	display: inline-block;
}

ul.elementsList a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);  /*@systemAnchorHover*/
}

ul.elementsList li > ul li a {
	font-size: 0.9em;
	display: inline-block;
}
ul.elementsList li > span {
	font-size: 1.2em;
	color: inherit;
}

p.elementsList.emptyMessage {
	border: 2px dashed #ccc;
	font-size: 1.17em;
	padding: 11em 2em;
	text-align: center;
}


/* Elements list — table view. */

ul.elementsList.listView {
	margin: 1.2em 0;
}

ul.elementsList.listView > li {
	display: table;
	width: 100%;

	padding: 0.2em 0;
	margin-top: -1px;
	border-bottom: 1px solid #F1F1F1;
}
ul.elementsList.listView > li:last-of-type {
	border-bottom: 0;
}
ul.elementsList.listView > li:hover {
	background: #F3F3F3;
	box-shadow: -1.5em 0 0 #F3F3F3, 1.5em 0 0 #F3F3F3;   /*@mainBlockPadding*/
}

ul.elementsList.listView > li > * {
	display: table-cell;
	vertical-align: top;
}
ul.elementsList.listView > li > ul {
	width: 1px;
	white-space: nowrap;
}

ul.elementsList.listView li > span {
	padding: 0.15rem 0;
}
ul.elementsList.listView li > ul li a {
	margin: 0.4rem 0 0.3rem 0.7rem;
}


/* Elements list — tiles view. */

ul.elementsList.tilesView {
	width: 102%;
}

ul.elementsList.tilesView > li {
	box-sizing: border-box;
	width: 241px;
	margin: 0.3em 0.6em 0.3em 0;

	padding: 0.35em 0.7em;
	background: #F5F5F5;
	border-left: 4px solid #D8D8D8;

	overflow: hidden;
}
ul.elementsList.tilesView > li:hover {
	border-color: #449BFF;
	background: #EBEBEB;
}

ul.elementsList.tilesView > li > * {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.elementsList.tilesView li > ul {
	margin-top: -0.3em;
}
ul.elementsList.tilesView li a:focus {
	outline-offset: -1px;
}
ul.elementsList.tilesView li > ul li:not(:first-child) a {
	margin-left: 0.65em;
}
ul.elementsList.tilesView li > ul li a:before {
	display: none;
}

ul.elementsList.tilesView > li > span label {
	margin-left: 1.35em;
}
ul.elementsList.tilesView > li > span label:before {
	position: absolute;
	margin: 0.85em 0 0 -1.45em;
}


/* Special styles — about system page. */

div.systemVersion {
	text-align: center;
	margin: 1.3em 0;
}

div.systemVersion p {
	margin: 0;
	font-size: 1.05em;
}
div.systemVersion p:first-child {
	font-size: 4.1em;
	font-weight: bold;
	margin: 0.4em 0;
}
div.systemVersion p:last-child {
	font-weight: bold;
}



/* Menu icons from icon font. */

*[class^="icon"] > *:before {
	font-family: 'icomoon_wt' !important;
	padding-right: 0.5em;
	vertical-align: -1px;

	line-height: 0;
	font-weight: normal;
}

.iconHamburger > *:before {
	content: "\e900";
}
.iconClose > *:before {
	content: "\e901";
}
.iconEdit > *:before {
	content: "\e906";
}
.iconDrafts > *:before {
	content: "\e924";
}
.iconPages > *:before {
	content: "\e926";
}
.iconFiles > *:before {
	content: "\e927";
}
.iconDataEditor > *:before {
	content: "\e930";
}
.iconBackup > *:before {
	content: "\e95e";
}
.iconUser > *:before {
	content: "\e971";
}
.iconUsers > *:before {
	content: "\e972";
}
.iconCustomization > *:before {
	content: "\e992";
}
.iconSettings > *:before {
	content: "\e994";
}
.iconDelete > *:before {
	content: "\e9ac";
}
.iconMenus > *:before {
	content: "\e9ba";
}
.iconWebsite > *:before {
	content: "\e9ca";
}
.iconShow > *:before {
	content: "\e9ce";
}
.iconHide > *:before {
	content: "\e9d1";
}
.iconWarning > *:before {
	content: "\ea07";
}
.iconAdd > *:before {
	content: "\ea0a";
}
.iconInformation > *:before {
	content: "\ea0c";
}
.iconLogout > *:before {
	content: "\ea13";
}
.iconUpdates > *:before {
	content: "\ea2e";
}
.iconCheckboxChecked > *:before {
	content: "\ea52";
}
.iconCheckboxUnchecked > *:before {
	content: "\ea53";
}
.iconRadioChecked > *:before {
	content: "\ea55";
}
.iconRadioUnchecked > *:before {
	content: "\ea56";
}
.iconAreas > *:before {
	content: "\ea72";
}