@media (max-width: 1050px)
{
	/* Reset unneeded margins, widths, shadows. */

	html {
		padding: 0;

		background: #FFF;   /*@mainBlockBackground*/
	}

	div.adminPanel, div.adminPanelAlternative {
		margin: 0;
		max-width: none;

		box-shadow: none;
	}
}

@media (max-width: 900px)
{
	/* Overwrite main styles for mobile purposes. */

	.columns, .columns > * {
		display: block;
	}

	div.adminPanel header#header h1, nav#navigation {
		width: auto;
	}
	div.adminPanel > div.columns {
		height: auto;
	}


	/* Centered logo. */

	div.adminPanel header#header h1, div.adminPanelAlternative header#header h1 {
		background-position: center 20px;
		padding-bottom: 0.1em;
	}


	/* Main navigation. */

	@keyframes navigationMenuSliding {
		from {
			margin-left: 100vw;
			margin-right: -100vw;
		}
		to {
			margin-left: 0;
			margin-right: 0;
		}
	}

	nav#navigation:not(:target) {
		display: none;
	}
	nav#navigation {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 60px;

		overflow-y: auto;

		animation: navigationMenuSliding 0.3s ease-in-out;
		box-shadow: inset 0 10px 3px -6px rgba(0,0,0, 0.08);
	}
	nav#navigation ul {
		margin: 0.8em 0 2em;
	}

	a.mobileMenuOpen, a.mobileMenuClose {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;

		font-size: 1.8em;
		width: 1em;

		position: absolute;
		top: 0.7rem;
		right: 5vw;     /*@mainBlockPaddingMobile*/

		opacity: 1 !important;
		color: #DDD;
		background: #232323;   /*@sidebarBackground*/
		text-decoration: none !important;
	}
	a.mobileMenuOpen:active {
		transform: scale(0.91);  /*@buttonPressedUpTransition*/
		transition: transform 0.05s ease-out;
	}
	a.mobileMenuClose {
		position: fixed;
	}

	a.mobileMenuOpen:before, a.mobileMenuClose:before {
		font-family: 'icomoon_wt' !important;
		padding-right: 10px;
	}
	a.mobileMenuOpen:before {
		content: "\e900";
	}
	a.mobileMenuClose:before {
		content: "\e901";
	}


	/* Header navigation. */

	div.adminPanel header#header ul {
		padding: 0;
		text-align: center;
	}

	div.adminPanel header#header li {
		margin: 0 0.35em;
	}
	div.adminPanel header#header li a {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		height: 1em;
		padding: 0.5em;
	}


	/* Main block. */

	main {
		padding: 0 5vw 5vw;   /*@mainBlockPaddingMobile*/
	}
}

@media (max-width: 600px)
{
	/* Header navigation. */

	div.adminPanel header#header li:not(:first-child) a {
		width: 1em;
	}
}

@media (max-width: 350px)
{
	/* Left-aligned logo. */

	div.adminPanel header#header h1, div.adminPanelAlternative header#header h1 {
		background-position: 5vw 20px;    /*@mainBlockPaddingMobile*/
	}
}