/* Fonts. */

@font-face {
	font-family: 'icomoon_wt';
	src: url('AdminIcons.ttf');
}


/* General styles. */

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	overflow-y: scroll;
	cursor: default;

	color: #000;
	background: #E1E1E1;
	font: 16px /1.5 "Lato", "Segoe UI", "Tahoma", sans-serif;
}

a:link, a:visited {
	color: #0077E1;

	text-decoration: none;
	outline: none;
}
a:hover {
	color: #459BFF;
	text-decoration: underline;
}
a:hover:active {
	opacity: 0.4;
}
a:active, a:focus {
	color: #D25C07;
}
a:focus:not(:hover):not(:active) {
	outline: 1px dashed rgba(0,0,0, 0.5);
	outline-offset: 2px;
}

*[tabindex="-1"] {
	outline: none;
	/* WebKit workaround: avoid outline of containers with skiplink. */
}

.columns {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.columns > * {
	display: table-cell;
	vertical-align: top;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.screenReaders {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	opacity: 0;
}


/* Icons class. */

*[class^="icon"] > *:before {
	font-family: 'icomoon_wt' !important;
	padding-right: 0.5em;
	vertical-align: -1px;

	line-height: 0;
	font-weight: normal;
}


/* Form elements. */

input, button, textarea, select {
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}
input[disabled], button[disabled], textarea[disabled], select[disabled] {
	opacity: 0.7;
	cursor: not-allowed;
}

input, textarea, select {
	width: 100%;
	height: 2em;
	padding: 0.2em 0.6em;

	border: 1px solid #BDBDBD;
	box-shadow: inset 2px 2px 2px rgba(0,0,0, 0.04);
	background: #FFF;
}
input:focus, textarea:focus, select:focus {
	border-color: #50BCFF;
	outline: 1px solid #50BCFF;
}
input[disabled], textarea[disabled], select[disabled] {
	background: #E9E9E9;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	border: none;

	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	opacity: 0;
}

input[type="checkbox"] + label, input[type="radio"] + label {
	padding-left: 1.65em;
}
input[type="checkbox"] + label:before, input[type="radio"] + label:before {
	font-family: 'icomoon_wt' !important;
	color: #426FA3;
	font-size: 1.1rem;
	line-height: 1;

	position: absolute;
	margin-left: -1.5em;
	margin-top: 4px;
}
input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {
	outline: 2px solid #50BCFF;
	outline-offset: 1px;
	color: #008AE0;
}
input[type="checkbox"]:active + label:before, input[type="radio"]:active + label:before {
	opacity: 0.5;
}
input[type="checkbox"][disabled] + label, input[type="radio"][disabled] + label,
input[type="checkbox"][disabled] + label:before, input[type="radio"][disabled] + label:before {
	opacity: 0.7;
	cursor: not-allowed;
}

input[type="checkbox"] + label:before {
	content: "\ea53";
}
input[type="checkbox"]:checked + label:before {
	content: "\ea52";
}
input[type="radio"] + label:before {
	content: "\ea56";
}
input[type="radio"]:checked + label:before {
	content: "\ea55";
}

textarea {
	min-height: 5em;
	resize: vertical;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='8.933' width='1.5em' viewBox='0 0 12.21093 11.187008'%3E%3Cpath d='M0-1.06h12.211l-6.11 12.25L0-1.06z' fill='%23666'/%3E%3C/svg%3E") right 0.66em no-repeat;
}
select::-ms-expand {
    display: none;
    /* MSIE: hide bult-in arrow inside <select>. */
}
@supports (-moz-user-select: none) {
	/* Gecko workaround: remove dotted border inside <select>. */
	select {
		color: rgba(0,0,0,0);
		text-shadow: -3px 0 0 #000;
	}
}

button {
	display: block;
	border: 0;

	margin: 1.7em auto 0.6em;
	padding: 0 1em;
	min-height: 2.15em;
	width: 100%;
	max-width: 300px;

	background: #009AF9;
	color: #FFF;
	font-weight: bold;
}
button:hover, button:focus {
	background: #0072B3;
}
button:focus {
	outline: 2px solid #73A5C3;
}
button:active {
	opacity: 0.7;
	transform: scale(0.95);
	transition: transform 0.1s ease-in;
}
button[disabled] {
	background: #D40000;
}
@supports (-moz-user-select: none) {
	button::-moz-focus-inner {
		border: 0;
	}
}


/* Admin panel common styles. */

header#header h1 {
	line-height: 0;
	overflow: hidden;
	height: 60px;
	margin: 0;
	text-indent: -9999px;

	background: #232323 url('WTLogo.svg') no-repeat;
}

div.adminPanel, div.adminPanelAlternative {
	margin: 2em auto;

	box-shadow: 0 0 5px rgba(0,0,0, 0.4);
	background: #FFF;
}

a.mobileMenuOpen, a.mobileMenuClose {
	display: none;
}


/* Main container — standard layout. */

div.adminPanel {
	max-width: 1000px;
}
div.adminPanel > div.columns {
	height: 600px;
}

div.adminPanel a.a11yJumpLink {
	position: absolute;
	margin: 0.8em 0 0 230px;  /* 230px = sidebar size + additional padding. */
	display: inline-block;
	overflow: hidden;

	height: 0;
	width: 0;
	opacity: 0;

	transition: opacity 0.1s ease-in;
}
div.adminPanel a.a11yJumpLink:focus {
	height: auto;
	width: auto;
	opacity: 1;

	border: 2px solid #449BFF;
	background: #0078D3;
	padding: 0.2em 1em;
	box-shadow: 0 0 2px rgba(0,0,0, 0.4);
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;

	outline: none !important;
}

div.adminPanel header#header h1 {
	background-position: 16px 22px;
	width: 210px;  /* Sidebar width. */
}
div.adminPanel header#header ul {
	text-align: right;
	vertical-align: middle;
	padding: 0 1.5em;  /* Vertical padding = padding of main block. */
	background: #F7F7F7;
	border-bottom: 1px solid #E7E7E7;

	list-style: none;
	margin: 0;
}
div.adminPanel header#header li {
	display: inline-block;
	margin-left: 1.4em;
}
div.adminPanel header#header li a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);
}
div.adminPanel header#header li:first-of-type a {  /* User account menu item. */
	color: inherit;
	font-weight: bold;
}

nav#navigation {
	width: 210px;

	background: #232323;
	color: #CCCCCC;
}
nav#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0.6em 0;
}

nav#navigation li a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
	outline: none !important;

	display: block;
	margin-bottom: 0.5em;
	padding: 0.5em 1.2em;

	background: #1A1A1A;
}
nav#navigation li a:hover, nav#navigation li a:focus {
	background: #000000;
	color: #008DEB;
}
nav#navigation li a:active {
	opacity: 0.7;
	transform: scale(0.91);
	transition: transform 0.05s ease-out;
}

nav#navigation li.iconAdd a {
	float: right;
	position: relative;
	top: -3em;
	z-index: 2;

	margin: 0 0 -3em;
	width: 1em;
	white-space: nowrap;
	overflow-x: hidden;

	border-left: 1px solid #272727;
}
nav#navigation li.iconAdd a:before {
	padding-right: 30px;
}


/* Main container — alternative layout (used in login form). */

div.adminPanelAlternative {
	max-width: 500px;
}

div.adminPanelAlternative header#header h1 {
	background-position: center 26px;
	padding-bottom: 0.5em;
}

div.adminPanelAlternative main header {
	margin-top: 1.5em;
}


/* Main block. */

main {
	padding: 0 1.5em 1.5em;
}

main > header {
	border-bottom: 1px solid #E7E7E7;
	margin: 1.2em 0 1em 0;

	table-layout: auto !important;   /* Override style from .columns class. */
}
main > header > * {
	vertical-align: bottom !important;
}
main > header h2 {
	font-size: 2.05em;
	line-height: 1.1;
	margin: 0;
	padding-bottom: 0.2em;
}

main > header ul {
	list-style: none;
	padding: 0;
	margin: 0;

	width: 1px;   /* Use minimal size. */
	white-space: nowrap;
}
main > header ul li {
	display: inline-block;
}
main > header ul a {
	display: inline-block;
	margin: 0 0 -1px 0.3em;

	background: #F7F7F7;
	border: 1px solid #E7E7E7;
	border-bottom: 2px solid #007BC2;
	padding: 0.15em 0.8em;

	outline-offset: 0 !important;
}
main > header ul li:first-child a {
	margin-left: 0;
}
main > header ul a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

main h3 {
	font-size: 1.5em;
	margin: 0.55em 0 0.25em;

	color: #0068A4;
	font-weight: normal;
}


/* Notifications/messages. */

@keyframes messageFadeIn {
	from {
		padding-top: 0;
		padding-bottom: 0;
		line-height: 0;
		border-width: 0;
		margin-bottom: 0;
	}
}

div.message {
	margin: 0 -1.5em -0.9em;  /* Horizonal negative margin = padding of main block. */

	text-align: center;
	font-weight: bold;
	padding: 0.4em 1.5em;
	background: #EFEFEF;
	color: #000;
	border-bottom: 1px solid #DFDFDF;

	box-sizing: border-box;
	overflow: hidden;

	animation: messageFadeIn 0.35s ease-in-out;
}
div.message.success {
	background: #FFFDB9;
	color: #734000;
	border-color: #FFED00;
}
div.message.error {
	background: #C70000;
	color: #FFFFFF;
	border-color: #B80000;
}


/* Message pages. */

p.messagePage {
	font-size: 1.7em;
	padding: 0 1.5em;
	text-align: center;
	font-weight: bold;
}

p.messagePage > *:before {
	font-family: 'icomoon_wt' !important;

	font-size: 7em;
	display: block;
	font-weight: normal;
}


/* Tips — warnings and explanations. */

p.warning, p.information {
	padding: 0.7em 1.3em 0.7em 3.8rem;
	min-height: 3em;
}
p.warning:before, p.information:before {
	position: absolute;
	margin-left: -2.8rem;
	font-size: 2em;
	font-family: 'icomoon_wt' !important;
}

p.warning {
	background: #FFF0ad;
	color: #892a00;
}
p.warning:before {
	content: "\ea07";
}

p.information {
	background: #e8fae2;
	color: #005a39;
}
p.information:before {
	content: "\ea0c";
}


/* Forms fieldsets. */

fieldset {
	border: 0;
	padding: 0;

	margin: -0.3em 0;
}

fieldset > div {
	display: flex;
	align-items: center;
	width: 100%;

	margin: 0.5em 0;
}
fieldset > div > * {
	flex-basis: 100%;
}

fieldset label:first-child:after { /* Not for checkbox label. */
	content: ":";
}


/* DLs inside forms (style similar to fieldsets). */

form dl {
	display: flex;
	flex-wrap: wrap;

	margin: 0.3em 0;
}

form dl > * {
	width: 50%;
	margin: 0.45em 0;
}

form dl dt:after {
	content: ":";
}


/* Elements list. */

ul.elementsList, ul.elementsList ul {
	list-style: none;
	padding-left: 0;
}
ul.elementsList a:hover {
	text-decoration: none;
	color: #005BA8;
	text-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

ul.elementsList {
	margin: 1.2em 0;
}

ul.elementsList > li {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.2em 0;
	margin-top: -1px;
	border-bottom: 1px solid #F1F1F1;
}
ul.elementsList > li:last-child {
	border-bottom: 0;
}
ul.elementsList > li:hover {
	background: #F3F3F3;
	box-shadow: -1.5em 0 0 #F3F3F3, 1.5em 0 0 #F3F3F3;  /* Shadow offset = main block padding */
}

ul.elementsList > li > span {
	padding: 0.15rem 0;
	font-size: 1.2em;
	color: inherit;
}

ul.elementsList > li > ul {
	white-space: nowrap;
}
ul.elementsList > li > ul li {
	display: inline-block;
}
ul.elementsList > li > ul li a {
	margin: 0.4rem 0 0.3rem 0.9rem;

	font-size: 0.9em;
	display: inline-block;
}

p.elementsList.emptyMessage {
	background: radial-gradient(rgba(0,0,0, 0.08), transparent 70%);
	font-size: 1.15em;
	padding: 4em 3em;
	text-align: center;
}


/* Special styles — about system page. */

div.systemVersion {
	text-align: center;
	margin: 1.3em 0;
}

div.systemVersion p {
	margin: 0;
	font-size: 1.05em;
}
div.systemVersion p:first-child {
	font-size: 4.1em;
	font-weight: bold;
	margin: 0.4em 0;
}
div.systemVersion p:last-child {
	font-weight: bold;
}



/* Mobile styles. */

@media (max-width: 1050px)
{
	/* Reset unneeded margins, widths, shadows. */

	html {
		padding: 0;
		background: #FFF;
	}

	div.adminPanel, div.adminPanelAlternative {
		margin: 0;
		max-width: none;
		box-shadow: none;
	}

	div.adminPanel a.a11yJumpLink {
		display: none;
	}
}

@media (max-width: 900px)
{
	/* Overwrite main styles for mobile purposes. */

	.columns, .columns > * {
		display: block;
	}

	div.adminPanel header#header h1, nav#navigation {
		width: auto;
	}
	div.adminPanel > div.columns {
		height: auto;
	}


	/* Centered logo. */

	div.adminPanel header#header h1, div.adminPanelAlternative header#header h1 {
		background-position: center 20px;
		padding-bottom: 0.1em;
	}


	/* Main navigation. */

	@keyframes navigationMenuSliding {
		from {
			margin-left: 100vw;
			margin-right: -100vw;
		}
		to {
			margin-left: 0;
			margin-right: 0;
		}
	}

	nav#navigation:not(:target) {
		display: none;
	}
	nav#navigation {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 60px;

		overflow-y: auto;

		animation: navigationMenuSliding 0.3s ease-in-out;
		box-shadow: inset 0 10px 3px -6px rgba(0,0,0, 0.08);
	}
	nav#navigation ul {
		margin: 0.8em 0 2em;
	}

	a.mobileMenuOpen, a.mobileMenuClose {
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;

		font-size: 1.8em;
		width: 1em;

		position: absolute;
		top: 0.7rem;
		right: 5vw;  /* Padding of main block */

		opacity: 1 !important;
		color: #DDD;
		background: #232323; /* Sidebar background. */
		text-decoration: none !important;
	}
	a.mobileMenuClose {
		position: fixed;
	}

	a.mobileMenuOpen:before, a.mobileMenuClose:before {
		font-family: 'icomoon_wt' !important;
		padding-right: 10px;
	}
	a.mobileMenuOpen:before {
		content: "\e900";
	}
	a.mobileMenuClose:before {
		content: "\e901";
	}


	/* Header navigation. */

	div.adminPanel header#header ul {
		padding: 0;
		text-align: center;
	}

	div.adminPanel header#header li {
		margin: 0 0.35em;
	}
	div.adminPanel header#header li a {
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		height: 1em;
		padding: 0.5em;
	}


	/* Main block. */

	main {
		padding: 0.1em 5vw 1em;
	}

	main > header h2 {
		font-size: 1.6em;
	}
	main > header ul {
		width: auto;
	}


	/* Elements list. */

	ul.elementsList > li:hover {
		box-shadow: none;
		background: none;
	}

	p.elementsList.emptyMessage {
		padding-top: 17vw;
		padding-bottom: 17vw;
	}

	/* Notifications/messages. */

	div.message {
		margin: -0.1em -5vw;  /* Main block padding. */
		animation: none;
	}


	/* Message pages. */

	p.messagePage {
		font-weight: normal;
		font-size: 1.2em;
		padding: 0;
	}

	p.messagePage > *:before {
		font-size: 3em;
	}
}

@media (max-width: 600px)
{
	/* Header navigation. */

	div.adminPanel header#header li:not(:first-child) a {
		width: 1em;
	}


	/* Main block. */

	main > header ul {
		font-size: 0.85em;
		margin-top: 0.5em;
	}


	/* Forms fieldsets. */

	fieldset > div {
		flex-direction: column;
		align-items: stretch;
	}
	fieldset > div > * {
		margin: 0.2em 0;
	}

	/* DLs inside forms (style similar to fieldsets). */

	form dl > * {
		width: 100%;
		margin: 0.25em 0;
	}
	form dl dd {
		margin-top: 0em;
	}

	/* Elements list. */

	ul.elementsList {
		margin: 0.8em 0;
	}
	ul.elementsList > li {
		flex-direction: column;
		align-items: flex-start;
	}
	ul.elementsList > li {
		padding: 0.5em 0;
	}

	ul.elementsList > li > span {
		padding: 0;
	}
	ul.elementsList > li > ul li:first-child a {
		margin-left: 0;
	}


	/* Special styles — about system page. */

	div.systemVersion p:first-child {
		font-size: 2em;
	}
}

@media (max-width: 400px)
{
	/* Left-aligned logo. */

	div.adminPanel header#header h1, div.adminPanelAlternative header#header h1 {
		background-position: 5vw 20px;  /* Left = main block padding */
	}


	/* Elements list — table view. */

	ul.elementsList li > ul li a {
		font-size: 0.7em;
		padding: 0.3em 0;
		margin-bottom: -0.1em;
	}
}