.iconCheckboxChecked > *:before {
	content: "\ea52";
}
.iconCheckboxUnchecked > *:before {
	content: "\ea53";
}
.iconRadioChecked > *:before {
	content: "\ea55";
}
.iconRadioUnchecked > *:before {
	content: "\ea56";
}
.iconPages > *:before {
	content: "\e926";
}
.iconProperties > *:before {
	content: "\e926";
}
.iconDrafts > *:before {
	content: "\e924";
}
.iconFiles > *:before {
	content: "\e927";
}
.iconImages > *:before {
	content: "\e927";
}
.iconMenus > *:before {
	content: "\e9ba";
}
.iconAreas > *:before {
	content: "\ea72";
}
.iconCustomization > *:before {
	content: "\e992";
}
.iconCustomize > *:before {
	content: "\e992";
}
.iconSettings > *:before {
	content: "\e994";
}
.iconUsers > *:before {
	content: "\e972";
}
.iconDataEditor > *:before {
	content: "\e930";
}
.iconDirectory > *:before {
	content: "\e930";
}
.iconBackup > *:before {
	content: "\e95e";
}
.iconInformation > *:before {
	content: "\ea0c";
}
.iconAbout > *:before {
	content: "\ea0c";
}
.iconUser > *:before {
	content: "\e971";
}
.iconUpdates > *:before {
	content: "\ea2e";
}
.iconWebsite > *:before {
	content: "\e9ca";
}
.iconLogout > *:before {
	content: "\ea13";
}
.iconHamburger > *:before {
	content: "\e900";
}
.iconMenu > *:before {
	content: "\e900";
}
.iconClose > *:before {
	content: "\e901";
}
.iconNo > *:before {
	content: "\e901";
}
.iconAdd > *:before {
	content: "\ea0a";
}
.iconEdit > *:before {
	content: "\e906";
}
.iconDelete > *:before {
	content: "\e9ac";
}
.iconShow > *:before {
	content: "\e9ce";
}
.iconHide > *:before {
	content: "\e9d1";
}
.iconSearch > *:before {
	content: "\e986";
}
.iconArrowUp > *:before {
	content: "\ea32";
}
.iconArrowRight > *:before {
	content: "\ea34";
}
.iconArrowDown > *:before {
	content: "\ea36";
}
.iconArrowLeft > *:before {
	content: "\ea38";
}
.iconPreview > *:before {
	content: "\ea7e";
}
.iconNewTab > *:before {
	content: "\ea7e";
}
.iconWarning > *:before {
	content: "\ea07";
}
.iconEmail > *:before {
	content: "\e945";
}
.iconLocation > *:before {
	content: "\e947";
}
.iconHTMLCode > *:before {
	content: "\ea7f";
}
.iconRestore > *:before {
	content: "\e95f";
}
.iconOK > *:before {
	content: "\ea10";
}
.iconYes > *:before {
	content: "\ea10";
}